@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

*{
  margin: 0;
}
/*-------------------quadrado na tela principal------------------------*/
#quadrado {
    width: 10em;
    height: 10em;
    border: 2px inset #90009d;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  #quadrado:hover {
    border: 2px inset rgb(239, 233, 240);
    
  }
/* /// header fixo ///
header {   
    position: sticky;   
    top: 0; 
}
*/

/*-------------------gradiente de background------------------------*/
body{
  background: linear-gradient(90.15deg, #000000 51.62%, #320049 95.61%);
}

main{
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.conteudo-principal a:visited{
  color: rgb(255, 0, 85);
}

@media (max-width: 430px) {
  .logo{
    width: 60px;
    margin-right: 15px;
  }

  .nav a{
    font-size:11px;
  }

}
@media (max-width: 310px) {
  #imagemDev{
    width: 250px;;

  }
  .logo{
    width: 40px;
    margin-right: 5px;
  }
}
@media (max-width: 270px) {
  .logolink{
    display: none;
  }
  .nav a{
    font-size:10px;
  }
}

h1{
  text-align: center;
  background-color: rgba(211, 89, 242, 0.275);
  opacity: 1;
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  padding: 0.2em;
  border-radius: 1em;
  transition: 1s;
  font-family: 'Red Hat Mono', monospace;
  text-shadow: 0 0 2px rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1:hover{
  opacity: 0.5;
  text-shadow: 0 0 8px rgb(255, 0, 225);
}

/*Barra de navegação redonda e fina
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(112, 5, 118, 0.589);
  padding: 0.3em;
  border-radius: 1em;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  margin: auto;
}Barra de navegção quadrada header inteira*/ 
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: none;
  margin-right: none;
  background-color: rgba(112, 5, 118, 0.589);
  padding: 0.8em;
  border-radius: 0;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  
}

.nav a {
  padding: 9px;
  color: rgba(255, 255, 255, 0.761);
  text-decoration: none;
	transition: 0.8s;
	display: block;
	border-bottom: 1px solid #cecfd8;
  border-radius: 12px;
}

.nav a:hover {
  color: rgba(186, 175, 175, 0.692);
  text-shadow: 0 0 8px white;
  background-color: rgba(211, 89, 242, 0);
  border-radius: 0px;
}

.logolink a {
  border: none;
  padding: 0px;
}


/* ------------ botão  ---------------*/  
 .botoes button{ 
  padding: 0.1em 1em;
  background-color: rgb(149, 0, 157);
  border-radius: 1em;
  font:bold 12px "Arial Black", Gadget, sans-serif; 
  font-style:normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#192e3d), to(#b75ceb));
} 

.botoes button:active{
  background-color: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left top, left bottom, from(#b36bee), to(#410350));
}

.botoes button:hover{
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.124);
}

/*-------------logo da barra de navegação*---------------*/
.logo{
  border-bottom: 1px solid #9799A6;
  padding-right: 0.5em;
  padding-left: 0.5em;
  transition: 1s;
  display: flex;
  flex-direction: column;
  margin-right: px;
}
.logo:hover {
  box-shadow: 2px 0 8px white;
  border-radius: 19px;
  transition: 1s;
}
/*------------------------------------------------------*/
.imagem{
  text-align: center;
}
/*-------------imagem da pagina sobre---------------*/
#imagemDev{
  border-radius: 35px;
  border: 2px inset rgb(144, 0, 157);
  width: 100%;
  max-width: 500px;
}

#imagemDev:hover{
  border: 2px inset rgb(239, 233, 240);
  opacity: 70%;
  transition: .7s;
}
/*------------------------------------------------------*/

.texto{
  color: whitesmoke;
  text-align: center;
  font-size: 1.05em;
  font-family: 'Rajdhani', sans-serif;

}

#titTexto{
  text-decoration: underline;
  text-shadow: 0 5px 8px white;
}
.botoes {
  text-align: center;
}
 /*-------------------footer------------------------*/
footer{
  color: whitesmoke;
  text-align: center;
  font-size: 1.1;
  background-color: rgba(112, 5, 118, 0.589);
  padding: 0.4em;
  grid-template-rows: 60px auto 60px;
  border-radius: 1em;
  opacity: 80%;
  margin-bottom: 25px;
  margin-top: 300px;
}

#mateus{
  color: rgb(255, 0, 85);
  opacity: 100%;
}

/*-------------------Seleção contato da barra de nav------------------------*/
.menu{
  list-style:none;
  float:left;
}

.menu li{
  position:relative;
  float: left;
}
.menu li a:hover{
  box-shadow: 0 0 8px white;
  border-radius: 20px;
  transition: 1s;
}
.menu li  ul{
  position:absolute;
  top: 2.3em;
  right: 8px;
  display:none;
  }
  .menu li:hover ul, .menu li.over ul{
    display:block;
  }
  
  .menu li ul li{
    display:block;
    width:140px;
    border-radius: 10px;
    text-shadow: 2px 1px 6px white;
    }

    .menu li ul li a{
      background-color: rgba(87, 1, 90, 0.493);
      box-shadow: 0 0 6px rgba(255, 255, 255, 0.384);
      border-radius: 15px;
    }

    .menu li ul li a:hover{
      color: rgba(255, 255, 255, 0.692);
      text-shadow: 8px 0 8px rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.199);
      box-shadow: 0 0 0;
      border-radius: 15px;

    }
/*------------------------------------------------------------------*/

.contato {
  text-align: center;
  color: whitesmoke;
  font-size: 1.05em;
  font-family: 'Rajdhani', sans-serif;
  /*max-width:min-content;*/
}

#limpar {
  margin-right: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track{
  background: rgb(68, 0, 97);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  border: 3px solid rgb(116, 0, 142);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0);
  border: 3px solid rgba(123, 0, 151, 0.621);
}