@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

/*-------------------quadrado na tela principal------------------------*/
#quadrado {
    width: 10em;
    height: 10em;
    border: 2px inset rgb(144, 0, 157);
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  #quadrado:hover {
    border: 2px inset rgb(239, 233, 240);
    
  }
  
/*-------------------gradiente de background------------------------*/
body{
  background: linear-gradient(90.15deg, #000000 51.62%, #320049 95.61%);
}

main{
  max-width: 900px;
  min-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media (max-width: 460px) {

  .nav a{
    font-size:13px;
  }

  .logo{
    width: 60%;
  }
}

h1{
  text-align: center;
  background-color: rgba(211, 89, 242, 0.275);
  opacity: 1;
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  padding: 0.2em;
  border-radius: 1em;
  transition: 1s;
  font-family: 'Red Hat Mono', monospace;
  text-shadow: 0 0 2px rgb(255, 255, 255);
}

h1:hover{
  opacity: 0.5;
  text-shadow: 0 0 8px rgb(255, 0, 225);
}

/*Barra de navegação*/
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(112, 5, 118, 0.589);
  padding: 0.3em;
  border-radius: 1em;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  margin: auto;
}

.nav a {
  padding: 9px;
  color: rgba(255, 255, 255, 0.761);
  text-decoration: none;
	transition: 0.8s;
	display: block;
  background-color: rgba(112, 5, 118, 0);
	border-bottom: 1px solid #9799A6;
  border-radius: 12px;
}

.nav a:hover {
  color: rgba(186, 175, 175, 0.692);
  text-shadow: 0 0 8px white;
  background-color: rgba(211, 89, 242, 0);
  border-radius: 0px;
}

.logolink a {
  border: none;
  padding: 0px;
}


/* ------------ botão  ---------------*/  
 .botoes button{ 
  padding: 0.1em 1em;
  background-color: rgb(149, 0, 157);
  border-radius: 1em;
  font:bold 12px "Arial Black", Gadget, sans-serif; 
  font-style:normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#192e3d), to(#b75ceb));
} 

.botoes button:active{
  background-color: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left top, left bottom, from(#b36bee), to(#410350));
}

.botoes button:hover{
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.124);
}

/*-------------logo da barra de navegação*---------------*/
.logo{
  border-bottom: 1px solid #9799A6;
  padding-right: 0.5em;
  padding-left: 0.5em;
  transition: 1s;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.logo:hover {
  box-shadow: 2px 0 8px white;
  border-radius: 19px;
  transition: 1s;
}
/*------------------------------------------------------*/
.imagem{
  text-align: center;
}
/*-------------imagem da pagina sobre---------------*/
#imagemDev{
  border-radius: 35px;
  border: 2px inset rgb(144, 0, 157);
  width: 100%;
  max-width: 500px;
}

#imagemDev:hover{
  border: 2px inset rgb(239, 233, 240);
  opacity: 70%;
  transition: .7s;
}
/*------------------------------------------------------*/

.texto{
  color: whitesmoke;
  text-align: center;
  font-size: 1.05em;
  font-family: 'Rajdhani', sans-serif;
}

#titTexto{
  text-decoration: underline;
  text-shadow: 0 5px 8px white;
}
.botoes {
  text-align: center;
}
 /*-------------------footer------------------------*/
footer{
  color: whitesmoke;
  text-align: center;
  font-size: 1.1;
  background-color: rgba(112, 5, 118, 0.589);
  padding: 0.4em;
  grid-template-rows: 60px auto 60px;
  border-radius: 1em;
  opacity: 80%;
}

#mateus{
  color:white;
  opacity: 100%;
}

/*-------------------Seleção contato da barra de nav------------------------*/
.menu{
  list-style:none;
  float:left;
}

.menu li{
  position:relative;
  float:left;
}

.menu li  ul{
  position:absolute;
  top: 1.0em;
  right: 8px;
  display:none;
  }
  .menu li:hover ul, .menu li.over ul{
    display:block;
  }
  
  .menu li ul li{
    display:block;
    width:140px;
    background-color: rgba(112, 5, 118, 0.686);
    border-radius: 10px;
    text-shadow: 2px 1px 6px white;
    }

    #menuA li a{
      background-color: rgb(204, 0, 255);
    }

    #menuA li a:hover{
      color: rgba(250, 11, 11, 0.692);
      text-shadow: 0 0 8px rgb(0, 225, 255);
      background-color: rgba(204, 0, 255, 0);
      border-radius: 0px;
    }
/*------------------------------------------------------------------*/

.contato {
  text-align: center;
  color: whitesmoke;
  font-size: 1.05em;
  font-family: 'Rajdhani', sans-serif;
  /*max-width:min-content;*/
  }

